*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(5, 5, 5);
    color: rgb(255, 253, 253);
}
h1{
    font-family: "Playwrite AT", cursive;
    font-weight: 700;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
header ul{
    display: flex;
    justify-content: space-around;
}
header ul li{
    margin: 20px;
    list-style: none;
}
header ul li a{
    color: rgb(243, 235, 235);
    text-decoration: none;
}
header ul li a i{
    margin: 6px;
}
header ul li a:hover{
    color: rgb(66, 65, 65);
    text-shadow: 4px 3px 4px rgb(90, 75, 75);
}
#welcome{
    position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    border: 5px double white;
    padding: 50px;
    background-color: rgba(110, 76, 76, 0.623);
}
span{
    color: beige;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px;
}
p,h3{
    text-align: justify;
    margin-left: 50px;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .col1{
    border: 40px;
    color: white;
    text-align:center;
    
  }